@font-face{
  font-family: "RickMorty";
  src: url("../assets/shlop.ttf") format("truetype");
}

html {
  background-image: url(../assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.animate-spin {
  animation: spin 5s linear infinite;
}

h1 {
  font-family: RickMorty
}
